body {
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    height: 100vh;
    background-color:lavenderblush;
    color: black;
}

main {
    border: 1px solid black;
    text-align: center;
    height: 100%;
}

p {
    padding: 2rem;
    text-align: center;
    font-size: large;
}